<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp P2P</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contacts.css') }}">
</head>
<body>
<div class="contacts-container">
    <a href="/" class="home-btn">Back</a>

    <h1>Contacts</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
        <tr>
            <td>
                <!-- Hacer el nombre del contacto un enlace que redirija a la página de mensajes -->
                <a href="{{ url_for('send_message', contact_name=contact.name, contact_number=contact.number) }}">
                    {{ contact.name }}
                </a>
            </td>
            <td>{{ contact.number }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="button-container">
        <a href="{{ url_for('add_contacts', id=id, name=name, number=number) }}" class="btn">Add Contacts</a>
    </div>
</div>
</body>
</html>
