<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp P2P</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contacts.css') }}">
</head>
<body>
<div class="contacts-container">
    <a href="/" class="home-btn">Back</a>

    <h1>Contacts</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.number }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Popup Form -->
    <div id="popupForm" class="popup-form-container">
        <div class="popup-form-content">
            <h2>Add Contact</h2>
            <form id="addContactForm" action="/singup" method="POST">
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" required><br><br>

                <label for="number">Number:</label><br>
                <input type="text" id="number" name="number" required><br><br>

                <input type="submit" value="Add Contact" class="btn">
            </form>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
