<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp P2P</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form_style.css') }}">
</head>
<body>
<div class="form-container">
    <a href="/" class="home-btn">Back</a>
    <h1>WhatsApp P2P</h1>
    <form action="/" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="number">Number:</label><br>
        <input type="text" id="number" name="number" required><br><br>

        <input type="submit" value="Sing In">
    </form>
</div>

</body>
</html>
